@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Title"]</h3>
<p></p>

<h6>Desenvolvedor: @ViewData["Dev"]</h6>
<h6>Contato: @ViewData["Email"]</h6>
<address>
    <strong>Linkedin: </strong> <a href="https://www.linkedin.com/in/eltierry/">Linkedin.com/in/eltierry</a> <br/>
    <strong>Github: </strong> <a href="https://github.com/ELTIERRY">github.com/ELTIERRY</a>
</address>



